export WORKON_HOME="{{ virtualenvwrapper_workon_home }}"
export PROJECT_HOME="{{ virtualenvwrapper_project_home }}"
export VIRTUALENVWRAPPER_PYTHON="{{ virtualenvwrapper_python }}"
source "{{ virtualenvwrapper_source }}"
